<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/posts.css">
    <meta property="og:site_name" content="enstrayed.com">

    <meta property="og:url" content="<!--SSR_REPLACE_URL-->>">

    <title><!--SSR_REPLACE_TITLE--></title>
    <meta property="og:title" content="<!--SSR_REPLACE_TITLE-->">

    <meta name="description" content="No description available.">
    <meta property="og:description" content="No description available.">

</head>
<body>
    <a href="/">Return to enstrayed.com</a>
    <!--SSR_REPLACE_BODY-->
</body>
</html>